
collection.h
RecordRunner2.vcxproj
RecordRunner2.vcxproj.filters
RecordRunner2.vcxproj.user
.vs/RecordRunner4/v15/Browse.VC.opendb

*.avi
*.bmp
*.dat
*.db
*.ipch
*.jpg
*.ogg
*.MP3
*.mp3
*.mp4
*.not
*.png
*.rrs
*.sln
*.suo
*.txt
*.wav
*.xcf

Debug/