
collection.h
edit.h
editserect.h
RecordRunner2.vcxproj
RecordRunner2.vcxproj.filters
RecordRunner2.vcxproj.user
StartDXProgram.vcxproj
StartDXProgram.vcxproj.filters
StartDXProgram.vcxproj.user

*.avi
*.bmp
*.dat
*.db
*.ipch
*.jpg
*.ogg
*.MP3
*.mp3
*.mp4
*.not
*.png
*.rrs
*.sln
*.suo
*.tlog
*.txt
*.wav
*.xcf

.vs/
Debug/